body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #fff;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
    margin: 0 auto;
    justify-content: center;
}

.gallery-item {
    width: 360px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.04);
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
        0px 10px 10px rgba(0, 0, 0, 0.22);
}

.gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.basicLightbox {
    background: rgba(47, 48, 58, 0.8);
}

.basicLightbox__placeholder img {
    max-width: 90vw;
    max-height: 90vh;
}